:root {
    --ff-work-sans: 'Work Sans', 'Inter', sans-serif;
    --ff-roboto-slab: 'Roboto Slab', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    --clr-palette-primary: #ee3d48;
    --clr-palette-white: #ffffff;
    --clr-palette-grey-light: #fafafa;
    --clr-palette-grey-medium: #d5dae0;
    --clr-palette-grey-dark: #939598;

    --clr-text-primary: #131313;
    --clr-text-secondary: #6a6a6a;

    --clr-bg-backdrop: #0000007a;
    --clr-bg-control: #0000003d;

    --shadow-primary: 0px 4px 20px #0000001a;
}
